// .example-container {
//   width: 300px;
//   height: 100%;
//   border: 1px solid rgba(0, 0, 0, 0.5);
//   overflow: hidden;
// }

// .example-sidenav {
//   width: 300px;
//   padding: 20px;
//   transition: transform 300ms ease, opacity 300ms ease;
// }








// .side-nav {
//   width: 100%;
//   height: 100%;
//   padding: 20px;
//   color: black;
//   background-color: #D3EEF2;

//   ul {
//     list-style: none;
//     padding: 0;

//     li {
//       margin-bottom: 15px;

//       a {
//         color: black;
//         text-decoration: none;

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   }
// }

.container{
  background-color: #D3EEF2;
   #title {
        line-height: 1.15;
        text-align: center;
        padding-left: 5px;
        padding-right: 10px;
        color: black;
        font-weight: 600;
        padding-top: 40px;
        font-size: 1.25rem;
    }

    .menu {
        overflow: visible;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 1rem;
        padding-top: 30px;

        a {
            text-decoration: none;
            cursor: pointer;
            color: black;
            padding: 8px 4px;
            background-color: #E0F7FA;

            &:hover {
                background: #00BCD4;
                border-radius: 5px;
                color: #ffffff;

                i {
                    color: black;
                    text-shadow: #00000033;
                }
            }
        }

        i {
            margin-left: 8px;
            color: black ;
        }

        a.active {
            background: #00BCD4;
            border-radius: 5px;
            color: #ffffff;
            i {
                
                text-shadow: #00000033;
            }
        }
    }

  #options {
        position: absolute; /* Makes it positionable within #sidebar */
        bottom: 20px; /* Adjust as needed for spacing */
        left: 10px; /* Adjust as needed for alignment */
        right:10px;
    }
   
}

.entry {
    display: flex;
    align-items: center;
    gap: 0.40rem;
    padding: 0.10rem;
    margin:0px 5px;
   
}


.panel {
  background-color: #e0f7fa;
  border-radius: 8px;
  font-size: 0.9rem;

  

  .panel-item {
    padding:10px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
    border-radius: 5px;
    
  }

  .panel-item:hover {
    background-color: #b2ebf2;
    
  }

  .panel-item.active {
    background-color: #80deea;
    font-weight: bold;
  }
}

::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
}

::ng-deep .user-management-panel .mat-expansion-panel-header,
::ng-deep .user-management-panel .mat-expansion-panel-header .mat-content,
::ng-deep .user-management-panel .mat-expansion-panel-header .mat-expansion-panel-header-title,
::ng-deep .user-management-panel .mat-expansion-panel-header .mat-expansion-panel-header-description {
  color: black !important;
  // remove theme overrides
  -webkit-text-fill-color: black !important;
}

::ng-deep .user-management-panel .mat-expansion-indicator::after {
  color: black !important;
}

::ng-deep .dropdown-heading{
    font-size: 0.9rem;
  }


::ng-deep .user-management-panel .mat-expansion-panel-header {
  display: flex;
  justify-content: space-between; // distribute space
  //flex-direction: row-reverse; // swap icon and text position if needed
}

::ng-deep .user-management-panel .mat-panel-title {
  margin-left: auto; // push to right
  color: black !important;
}



::ng-deep .user-management-panel .mat-panel-title {
  display: flex;
  align-items: center;
  color: black !important;
}

 ::ng-deep .mat-expansion-panel-header {
    display: flex;
    flex-direction: row-reverse; // icon on left, title on right
    padding: 10px !important; // remove default horizontal padding
  }

