<div class="container">
  <div id="title">Patient Management</div>

  <div class="menu">

    <!-- *************************Admin*************************** -->
    <a
      *ngIf="isAdminRouteNavbar()  && !isDoctorRouteNavbar()"
      (click)="setActiveLink('dashboardAdmin'); dashboardAdmin()"
      [ngClass]="{ active: activeLink === 'dashboardAdmin' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-gauge" style="padding-right: 4px"></i
        ><span>Dashboard</span></span
      ></a
    >



    <mat-accordion multi  *ngIf="isAdminRouteNavbar() && !isDoctorRouteNavbar() && !isPatientRouteNavbar()">
  <mat-expansion-panel [expanded]="true" class="panel">
    <mat-expansion-panel-header>
      
      <mat-panel-title class="dropdown-heading text-right">
        <i class="fs-5 fa-solid fa-list-check icon-padding " style="margin-right: 10px"></i>
        User Management
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="panel-item" *ngIf="isAdminRouteNavbar()  && !isDoctorRouteNavbar()" (click)="adminReceptionist()" [class.active]="activeLink === 'user-management/receptionist'">
      Receptionist
    </div>
    <div class="panel-item" *ngIf="isAdminRouteNavbar()  && !isDoctorRouteNavbar()" (click)="adminDoctor()" [class.active]="activeLink === 'user-management/doctor'">
      Doctor
    </div>
    <div class="panel-item" *ngIf="isAdminRouteNavbar()  && !isDoctorRouteNavbar()" (click)="adminPatient()" [class.active]="activeLink === 'user-management/patient'">
      Patient
    </div>
  </mat-expansion-panel>
</mat-accordion>


    <a
      *ngIf="isAdminRouteNavbar()  && !isDoctorRouteNavbar()"
      (click)="setActiveLink('adminReports'); adminReports()"
      [ngClass]="{ active: activeLink === 'adminReports' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-chart-line" style="padding-right: 4px"></i
        ><span>Reports</span></span
      ></a
    >

    <!-- *************************Doctor*************************** -->
     <a
      *ngIf="!isAdminRouteNavbar() && isDoctorRouteNavbar()"
      (click)="setActiveLink('dashboardDoctor'); dashboardDoctor()"
      [ngClass]="{ active: activeLink === 'dashboardDoctor' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-gauge" style="padding-right: 4px"></i
        ><span>Dashboard</span></span
      ></a
    >

    <a
      *ngIf="!isAdminRouteNavbar() && isDoctorRouteNavbar()"
      (click)="setActiveLink('doctorAppointment'); doctorAppointment()"
      [ngClass]="{ active: activeLink === 'doctorAppointment' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-clipboard-list" style="padding-right: 4px"></i
        >
        <span>Appointments</span></span
      ></a
    >



    <a
      *ngIf="!isAdminRouteNavbar() && isDoctorRouteNavbar()"
      (click)="setActiveLink('doctorSchedule'); doctorSchedule()"
      [ngClass]="{ active: activeLink === 'doctorSchedule' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-calendar-check" style="padding-right: 4px"></i
        ><span>Schedule</span></span
      ></a
    >

         <a
      *ngIf="!isAdminRouteNavbar() && isDoctorRouteNavbar()"
      (click)="setActiveLink('doctorSlot'); doctorSlot()"
      [ngClass]="{ active: activeLink === 'doctorSlot' }"
      ><span class="entry"
        ><i class="fs-5 fa-regular fa-clock" style="padding-right: 4px"></i
        ><span>Slot</span></span
      ></a
    >

     <a
      *ngIf="!isAdminRouteNavbar() && isDoctorRouteNavbar()"
      (click)="setActiveLink('doctorPatientDetails'); doctorPatientDetails()"
      [ngClass]="{ active: activeLink === 'doctorPatientDetails' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-hospital-user" style="padding-right: 4px"></i
        > <span>Patient Details</span></span
      ></a
    >

    <a
      *ngIf="!isAdminRouteNavbar() && isDoctorRouteNavbar()"
      (click)="setActiveLink('doctorReports'); doctorReports()"
      [ngClass]="{ active: activeLink === 'doctorReports' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-chart-line" style="padding-right: 4px"></i
        ><span>Reports</span></span
      ></a
    >


    <!-- *************************Patient*************************** -->

    <a
      *ngIf="!isAdminRouteNavbar() && !isDoctorRouteNavbar() && isPatientRouteNavbar()"
      (click)="setActiveLink('dashboardPatient'); dashboardPatient()"
      [ngClass]="{ active: activeLink === 'dashboardPatient' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-gauge" style="padding-right: 4px"></i
        ><span>Dashboard</span></span
      ></a
    >

           <mat-accordion multi  *ngIf="!isAdminRouteNavbar() && !isDoctorRouteNavbar() && isPatientRouteNavbar()">
  <mat-expansion-panel [expanded]="true" class="panel">
    <mat-expansion-panel-header>
      
      <mat-panel-title class="dropdown-heading text-right">
        <i class="fs-5 fa-solid fa-list-check icon-padding " style="margin-right: 10px"></i>
        Appointments
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="panel-item" *ngIf="!isAdminRouteNavbar() && !isDoctorRouteNavbar() && isPatientRouteNavbar()" (click)="patientBookAppointment()" [class.active]="activeLink === 'patientBookAppointment'">
      Book Appointment
    </div>
    <div class="panel-item" *ngIf="!isAdminRouteNavbar() && !isDoctorRouteNavbar() && isPatientRouteNavbar()" (click)="patientUpcomingAppointments()" [class.active]="activeLink === 'patientUpcomingAppointments'">
      Upcomming Appointments
    </div>
    <div class="panel-item" *ngIf="!isAdminRouteNavbar() && !isDoctorRouteNavbar() && isPatientRouteNavbar()" (click)="patientPastAppointments()" [class.active]="activeLink === 'patientPastAppointments'">
      Past Appointments
    </div>
  </mat-expansion-panel>
</mat-accordion>


       <a
      *ngIf="!isAdminRouteNavbar() && !isDoctorRouteNavbar() && isPatientRouteNavbar()"
      (click)="setActiveLink('patientReports'); patientReports()"
      [ngClass]="{ active: activeLink === 'patientReports' }"
      ><span class="entry"
        ><i class="fs-5 fa-solid fa-chart-line" style="padding-right: 4px"></i
        ><span>Reports</span></span
      ></a
    >

 
  </div>

  <div class="menu" id="options">
    <a>
      <span class="entry"
        ><i class="fs-5 fa-solid fa-circle-question"></i><span>Help</span></span
      >
    </a>

    <a>
      <span class="entry"
        ><i class="fs-5 fa-solid fa-arrow-right-from-bracket"></i
        ><span>Logout</span></span
      >
    </a>
  </div>
</div>
