#container{
    display: flex;
    width: 100%;
    height:100vh;
    position: relative;
    app-side-navbar{
        position: fixed;
        width:300px;
        height: 100vh;
        background: #D3EEF2;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    #content{
        flex-grow: 1;
        transition:  0.3s ease-in-out ;
    }

    &.isSidenavOpen{
        app-side-navbar{
            
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
            box-shadow: 2px 2px 2px #ccc;
           
        }
        #content{
            margin-left: 300px;
            transition: 0.3s ease-in-out;
        }
    }
}